USE [master]
GO
/****** Object:  Database [Practica 1 LBD]    Script Date: 07/09/2018 12:17:35 ******/
CREATE DATABASE [Practica 1 LBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica 1 LBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practica 1 LBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica 1 LBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practica 1 LBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica 1 LBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica 1 LBD]
GO
USE [Practica 1 LBD]
GO
/****** Object:  Table [dbo].[Costos]    Script Date: 07/09/2018 12:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Costos](
	[Fecha_pago] [date] NULL,
	[nombre_paciente] [varchar](30) NULL,
	[Folio_paciente] [tinyint] NULL,
	[Medicamentos_usado] [varchar](50) NULL,
	[Precio_Med] [money] NULL,
	[Pago_Medico] [money] NULL,
	[CostoTotal]  AS ([Precio_Med]+[Pago_Medico])
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 07/09/2018 12:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Fecha_Naci] [date] NULL,
	[RFC] [varchar](30) NULL,
	[idCurp] [varchar](50) NOT NULL,
	[IFEINE] [image] NULL,
	[NumSeg] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Edad] [tinyint] NULL,
	[Direccion] [varchar](50) NULL,
	[Telefeno] [int] NULL,
	[Antecedentes] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCurp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 07/09/2018 12:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[Folio] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
	[Cedula_Prof] [varchar](30) NULL,
	[Nombre_medic] [varchar](50) NULL,
	[Nombre_Pacien] [varchar](50) NULL,
	[Edad_paciente] [tinyint] NULL,
	[Direccion] [varchar](50) NULL,
	[Telefeno] [int] NULL,
	[Medicamentos] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Cedula_Prof]    Script Date: 07/09/2018 12:17:35 ******/
CREATE CLUSTERED INDEX [IDX_Cedula_Prof] ON [dbo].[Receta]
(
	[Cedula_Prof] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamiento]    Script Date: 07/09/2018 12:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento](
	[Fecha_Asignacion] [date] NULL,
	[nombre_paciente] [varchar](30) NULL,
	[años_paciente] [tinyint] NULL,
	[Descripccion] [varchar](2000) NULL,
	[Medicamentos_usado] [varchar](50) NULL,
	[Concretado] [bit] NULL,
	[Medico_Asign] [int] NULL,
	[Costo_trat] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 07/09/2018 12:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Fecha_Comp] [date] NULL,
	[idModelo] [varchar](50) NOT NULL,
	[Placas_imag] [image] NULL,
	[NumSeg] [int] NULL,
	[Encargado] [varchar](50) NULL,
	[Años_Uso] [tinyint] NULL,
	[Direccion_resguardo] [varchar](50) NULL,
	[Telefeno_asignado] [int] NULL,
	[Incidentes] [text] NULL,
	[Kilometros] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
